<div class="center" *ngFor="let item of feedItems">
    <mat-card class="example-card">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>{{item.nom}} - {{formatFromNowDate(item.time_posted)}}</mat-card-title>
            <mat-card-subtitle>{{item.role}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <div><b *ngFor="let hastag of item.hastag">#{{hastag}} </b></div>
            <br>
            <br>            
            <p style="font-size:18x">{{item.text}}</p>
        </mat-card-content>
        <mat-card-actions class="center">
            <button mat-raised-button color="primary" (click)="onClickLikeButtonItem(item.id)"><b>LIKE</b></button>
        </mat-card-actions>
        <mat-card-content>
            <p>{{item.nb_commentaire}} commentaire(s) - {{item.thanx}} Thanx</p>
            <mat-divider></mat-divider>
            <mat-list>
                <mat-list-item *ngFor="let commentaire of item.commentaires">
                    <img matListAvatar src={{commentaire.avatar}}>
                    <div mat-line>{{commentaire.nom}}</div>
                    <div mat-line>{{commentaire.text}}</div>
                    <div mat-line>
                        {{formatFromNowDate(commentaire.time_posted)}} - {{commentaire.thanx}} Thanx - 
                        <button mat-button color="primary" (click)="onClickLikeButtonComment(item.id, commentaire.id)"><b>LIKE</b></button>
                    </div> 
                </mat-list-item>
            </mat-list>
        </mat-card-content>
        <mat-form-field style="display: inline;" appearance="fill">
            <mat-label>Ajouter un commentaire...</mat-label>
            <input #box (keyup.enter)="onEnter(box.value, item.id)" matInput matNativeControl>
        </mat-form-field>
    </mat-card>
</div>