.example-card {
    min-width: 500px;
    max-width: 600px;
  }
  
.example-header-image {
    background-image: url('../../../assets/men1.png');
    background-size: cover;
  }

.center{
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }