<div style="text-align:center">

  <br>

  <nav>
    <a routerLink="/feed" routerLinkActive="active">Aller au fil d'actualité</a>
  </nav>

  <button (click)="onClickAuthButton()">S'authentifier</button>

  <div>{{authResponse}}</div>

  <button (click)="onClickFeedButton()">Get feed</button>

  <div>{{feedResponse}}</div>

</div>